@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;600&display=swap');
$black: #2a2a2a;
$white: #fff;
$mainRed:  #F12514;
$darkRed: #98110d;
$lightGrey: #8b8c90;
$darkGrey: #515151;
$yellow: #f88a00;

$text:'Teko', sans-serif;
$para: 25px;
$h1: 40px;
$h2: 30px;
$h3: 20px;
$h4: 18px;
