@import './variables';
@import "~bootstrap/scss/bootstrap";
body {
    font-family: $text;
    width:100%;
    margin:0 auto;
    padding:0;
    color:$black;
    margin: 0;
}
.section{
  padding: 100px 0 20px;
}
p {
  font-size: $para;
}
h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 10px;
  margin-top:30px;
  h1 {
    font-size:$h1;
  }
  h2 {
    font-size:$h2;
  }
  h3 {
    font-size:$h3;
  }
  h4 {
    font-size:$h4;
  }
}
nav {
  font-weight: 600;
  font-size:40px;
  color: $yellow;
  a.nav-link {
    color:$mainRed !important;
  }
  a:hover {
    color:$yellow !important;
  }
}
nav.navbar{
  background-color:$white !important;
}
#headerImg{
  width:100%;
}
.upperCase {
  text-transform: uppercase;
}
.hide {
    display:none !important;
}
footer {
  padding: 30px 15px 10px;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: $mainRed;
  color:$white;
  h2 {
    margin-top: 15px;
  }
  nav {
    margin: 20px 0;
    a.nav-link {
      color:$white !important;
    }
    a:hover {
      color:$yellow !important;
    }
  }
}

.side-margins {
  margin-right: 10em;
  margin-left: 10em;
}

#tech-icon-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tech-icon {
  height: 6.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  margin-left: 5em;
}

.thanks-alumni {
  padding-left: 10%;
  padding-right: 10%;
}