.devCard {
  width: 275px;
  height: auto;
  margin: 25px;
  overflow: hidden; /* required */
  border:0px solid grey; /* for demo only */
  position: relative; /* required  for demo*/
  box-shadow: 2px 2px 4px black;
}

.ribbon {
  margin: 0;
  padding: 0;
  background:#F12514;
  color:white;
  padding:1em 0;
  position: absolute;
  top:0;
  right:0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top:0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: #F12514;
}
.ribbon:before {
  width: 150%;
  right:100%;
}

.ribbon:after {
  width: 150%;
  left:100%;
}

.devImage {
  width:276px;
  height:275px;
  overflow: hidden;
  margin: .01px auto;
  border:1px solid #eee;
  img {
    text-align: center;
    vertical-align: middle;
    width:100%;
  }
}

.weeDevImage {
  display: none;
  width:276px;
  height:275px;
  overflow: hidden;
  margin: .01px auto;
  border:1px solid #eee;
  img {
    text-align: center;
    vertical-align: middle;
    width:100%;
  }
}


.card-icon-link:hover {
  text-decoration: none;
}

.cardIcon {
  width: 10%;
  height: auto;
  margin: 2%;
}

.devName {
  color:#F12514;
  text-transform: uppercase;
}


@media only screen and (min-width: 384px) and (max-width: 450px) {
  #headerImg {
    padding-top: 60px;
  }
}

@media only screen and (min-width: 328px) and (max-width: 383px) {
  #headerImg {
    padding-top: 120px;
  }
}

@media only screen and (max-width: 327px) {
  #headerImg {
    padding-top: 180px;
  }
}

// .cardPic {
//   width: auto;
//   height: 300px;
// }